{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tin Sparrow</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tinsparrow.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/html" id="library-template">
        <% if (artists !== null) { %>
            <ul class="artist-list block-list">
                <% _.each(artists.models, function(artist) { %>
                <a href="#artists/<%- artist.get('id') %>">
                    <li class="artist block-list-item">
                        <div class="artist-image block-list-image">
                            <img src="http://placehold.it/240x150"/>
                        </div>
                        <div class="artist-label block-list-label"><%- artist.get('name') %></div>
                    </li>
                </a>
                <% }); %>
            </ul>
        <% } else { %>
        <h3 class="loading">Loading...</h3>
        <% } %>
    </script>
    <script type="text/html" id="album-list-template">
        <% if (albums !== null) { %>
            <ul class="album-list block-list">
                <% _.each(albums.models, function(album) { %>
                <a href="#albums/<%- album.get('id') %>">
                    <li class="album block-list-item">
                        <div class="album-image block-list-image">
                            <img src="http://placehold.it/140x140"/>
                        </div>
                        <div class="album-label block-list-label"><%- album.get('title') %></div>
                    </li>
                </a>
                <% }); %>
            </ul>
        <% } else { %>
        <h3 class="loading">Loading...</h3>
        <% } %>
    </script>
    <script type="text/html" id="song-list-template">
        <% if (songs !== null) { %>
        <table class="song-list table table-striped table-hover">
            <thead>
                <tr><th width="30%">Title</th><th width="10%">Length</th><th width="20%">Artist</th><th width="20%">Album</th></tr>
            </thead>
            <tbody>
            <% _.each(songs.models, function(song) { %>
            <tr>
                <td>
                    <a href="#songs" class="play-song-now" data-id="<%- song.get('id') %>">now</a> -
                    <a href="#songs" class="play-song-next" data-id="<%- song.get('id') %>">next</a> -
                    <a href="#songs" class="play-song-last" data-id="<%- song.get('id') %>">last</a>&nbsp;<%- song.get('title') %></td>
                <td><%- song.get('length') %></td>
                <td><a href="#artists/<%- song.get('artist_id') %>"><%- song.get('artist') %></a></td>
                <td><a href="#albums/<%- song.get('album_id') %>"><%- song.get('album') %></a></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h3 class="loading">Loading...</h3>
        <% } %>
    </script>
    <script type="text/html" id="artist-detail-template">
        <% if (artist !== null) { %>
        <h2><%- artist.get('name') %></h2>
        <div class="row">
            <div class="artist-detail-image">
                <img src="http://placehold.it/400x200"/>
            </div>
            <div class="artist-detail-bio">
                <p>Initially pegged as something as a voice of a generation when Loser turned into a smash crossover success, Beck did wind up crystallizing much of the post-modern ruckus of the 90s alternative explosion, but in unexpected ways. Based in the underground anti-folk and noise-rock worlds, Beck encompassed all manners of modern music, drawing in hip-hop, blues, ... MORE</p>
            </div>
        </div>
        <h3>Albums</h3>
        <ul class="album-list block-list"></ul>
        <h3>Songs</h3>
        <ul class="songs"></ul>
        <% } else { %>
        <h1 class="loading">Loading...</h1>
        <% } %>
    </script>
    <script type="text/html" id="album-detail-template">
        <% if (album !== null) { %>
        <h2><%- album.get('title') %></h2>
        <p class="artist-description">Some information about the album.</p>
        <h3>Songs</h3>
        <ul class="songs"></ul>
        <% } else { %>
        <h1 class="loading">Loading...</h1>
        <% } %>
    </script>
    <script type="text/html" id="queue-template">
        <% if (songs !== null) { %>
        <table class="song-list table table-striped table-hover">
            <thead>
                <tr><th width="30%">Title</th><th width="10%">Length</th><th width="20%">Artist</th><th width="20%">Album</th></tr>
            </thead>
            <% _.each(songs.models, function(song) { %>
            <tbody>
            <tr>
                <td><a href="#" class="song"><%- song.get('title') %></a></td>
                <td><a href="#" class="song"><%- song.get('length') %></a></td>
                <td><a href="#" class="song"><%- song.get('artist') %></a></td>
                <td><a href="#" class="song"><%- song.get('album') %></a></td>
            </tr>
            </tbody>
            <% }); %>
        </table>
        <% } else { %>
        <h3 class="loading">Loading...</h3>
        <% } %>
    </script>
</head>
<body>
<nav class="navbar navbar-shaded navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tin Sparrow</a>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control search-box" placeholder="Search...">
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Library <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Shuffle</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Playlists</a></li>
                <li><a href="">Playlist One</a></li>
                <li><a href="">Playlist Two</a></li>
                <li><a href="">Playlist Three</a></li>
                <li><a href="">Playlist Four</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main content-nav">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#artists">Artists</a></li>
                    <li><a href="#albums">Albums</a></li>
                    <li><a href="#songs">Songs</a></li>
                    <li><a href="#queue">Queue</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main content">
            {% block content %}
                There's no content configured
            {% endblock content %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="media-controller">
            <audio controls preload="none" id="audio-player"></audio>
            <span>Repeat</span>
            <span>Previous</span>
            <span>Play</span>
            <span>Next</span>
            <span>Shuffle</span>
            <span>Volume</span>
            <span>Queue</span>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'js/backbone-min.js' %}"></script>
<script id="config" type="text/json">
    {
        "models": {},
        "collections": {},
        "views": {},
        "router": null,
        "apiRoot": "{% url 'api-root' %}"
    }
</script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/tinsparrow.js' %}"></script>
<script src="{% static 'js/models.js' %}"></script>
<script src="{% static 'js/views.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>

{% block extra_js %}{% endblock extra_js %}

</body>
</html>
