{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tin Sparrow</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tinsparrow.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tin Sparrow</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Library <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Shuffle</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Playlists</a></li>
                <li><a href="">Playlist One</a></li>
                <li><a href="">Playlist Two</a></li>
                <li><a href="">Playlist Three</a></li>
                <li><a href="">Playlist Four</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#artists">Artists</a></li>
                    <li><a href="#albums">Albums</a></li>
                    <li><a href="#songs">Songs</a></li>
                    <li><a href="#queue">Queue</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main content">
            <h1>Artists</h1>
            <ul class="artist-list">
                <li class="artist">
                    <div class="artist-image">
                        <img src="http://placehold.it/240x210" />
                    </div>
                    <a href="#">99 Problems - The Prodigy Remix</a>
                </li>
                <li class="artist"><a href="#artists/2">A.Skillz</a></li>
                <li class="artist"><a href="#artists/3">Ace Troubleshooter</a></li>
                <li class="artist"><a href="#artists/4">Avicii</a></li>
                <li class="artist"><a href="#artists/5">Bar9</a></li>
                <li class="artist"><a href="#artists/6">Beck</a></li>
                <li class="artist"><a href="#artists/7">Benga</a></li>
                <li class="artist"><a href="#artists/8">Blackalicious</a></li>
                <li class="artist"><a href="#artists/9">Burial</a></li>
                <li class="artist"><a href="#artists/11">CHVRCHES</a></li>
                <li class="artist"><a href="#artists/10">Cee Lo Green</a></li>
                <li class="artist"><a href="#artists/12">Daft Punk</a></li>
                <li class="artist"><a href="#artists/13">David Bowie</a></li>
                <li class="artist"><a href="#artists/14">Dead Prez</a></li>
                <li class="artist"><a href="#artists/15">Dillon Francis &amp; Diplo</a></li>
                <li class="artist"><a href="#artists/16">Diplo</a></li>
                <li class="artist"><a href="#artists/17">Diplo &amp; Datsik</a></li>
                <li class="artist"><a href="#artists/18">Dirty South Joe &amp; Flufftronix</a></li>
                <li class="artist"><a href="#artists/19">Emalkay</a></li>
                <li class="artist"><a href="#artists/20">Emika</a></li>
                <li class="artist"><a href="#artists/21">Enur Ft Natasja</a></li>
                <li class="artist"><a href="#artists/22">Estelle</a></li>
                <li class="artist"><a href="#artists/23">Fatboy Slim Vs Herve</a></li>
                <li class="artist"><a href="#artists/24">Flobots</a></li>
                <li class="artist"><a href="#artists/25">Flux Pavilion</a></li>
                <li class="artist"><a href="#artists/26">Flux Pavillion</a></li>
                <li class="artist"><a href="#artists/27">Framing Hanley</a></li>
                <li class="artist"><a href="#artists/28">Gunf1ghter Two</a></li>
                <li class="artist"><a href="#artists/29">Jay-Z</a></li>
                <li class="artist"><a href="#artists/31">Justice</a></li>
                <li class="artist"><a href="#artists/32">Kanye West</a></li>
                <li class="artist"><a href="#artists/33">Katy B</a></li>
                <li class="artist"><a href="#artists/34">Katy B feat. Ms Dynamite</a></li>
                <li class="artist"><a href="#artists/35">Kelly Rowland</a></li>
                <li class="artist"><a href="#artists/36">Kid Cudi</a></li>
                <li class="artist"><a href="#artists/37">Korn</a></li>
                <li class="artist"><a href="#artists/38">Kreayshawn</a></li>
                <li class="artist"><a href="#artists/39">La Roux</a></li>
                <li class="artist"><a href="#artists/40">LoKid</a></li>
            </ul>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="media-controller">
            <span>Repeat</span>
            <span>Previous</span>
            <span>Play</span>
            <span>Next</span>
            <span>Shuffle</span>
            <span>Volume</span>
            <span>Queue</span>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'js/backbone-min.js' %}"></script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/tinsparrow.js' %}"></script>

{% block extra_js %}{% endblock extra_js %}

</body>
</html>
